<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MaiUtils</title>
	<link rel="stylesheet" href="static/styles.css">
	<link rel="stylesheet" href="static/index.css">
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HPHDZG3MYW"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-HPHDZG3MYW');
	</script>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>

	<!-- header section -->
	<header>
		<h1>pugking4.me (MaiUtils)</h1>
	</header>

	<!-- navigation section -->
	<nav>
		<ul>
			<li><a href="index">Index</a></li>
			<li><a href="rating-calculator">Rating Calculator</a></li>
			<li><a href="db-export">Song Database Export</a></li>
			<li><a href="mai-camera">MaiMai Camera Gallery</a></li>
			<li><a href="wip">Placeholder 4</a></li>
		</ul>
	</nav>

	<!-- main content section -->
	<main>
		<section id="about">
			<h2>About</h2>
			<p>This website contains many tools and stats relating to MaiMai and my MaiMai profile.</p>
		</section>

		<section id="source">
			<h2>Source Code</h2>
			<p>The source code to this website is <a href="https://github.com/Pugking4/Projects-Website">here</a></p>
		</section>

		<section id="contact">
			<h2>Contact</h2>
			<p>If there is an issue with the website please contact me at: pugking6@protonmail.com</p>
		</section>
	</main>

	<!-- footer section -->
	<footer>
		<p>&copy; 2023 pugking4.me. All rights reserved.</p>
		<p><a href="privacy-policy">Privacy Policy</a></p>
	</footer>
