<!DOCTYPE html>
<link rel="stylesheet" href="static/index.css">
<html>
<head>
	<title>MaiUtils</title>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HPHDZG3MYW"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-HPHDZG3MYW');
	</script>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>

	<!-- header section -->
	<header>
		<h1>pugking4.me (MaiUtils)</h1>
	</header>

	<!-- navigation section -->
	<nav>
		<ul>
			<li><a href="index">Index</a></li>
			<li><a href="rating-calculator">Rating Calculator</a></li>
			<li><a href="db-export">Song Database Export</a></li>
			<li><a href="wip">Placeholder 3</a></li>
			<li><a href="wip">Placeholder 4</a></li>
		</ul>
	</nav>

	<!-- main content section -->
	<main>
		<section id="about">
			<h2>About Us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget bibendum quam. Nunc euismod sapien ac augue pulvinar faucibus. Aliquam at volutpat nisi. Sed tincidunt sapien eget eros bibendum lobortis. </p>
		</section>

		<section id="services">
			<h2>Our Services</h2>
			<p>Nulla eu ligula id diam ultricies congue. Integer feugiat consectetur tortor, eget feugiat lacus rhoncus vel. Sed dictum tristique augue, non pellentesque ipsum dapibus at. </p>
		</section>

		<section id="portfolio">
			<h2>Portfolio</h2>
			<p>Quisque at elit dapibus, malesuada ex sed, commodo sem. Aenean vitae risus ut risus suscipit venenatis. Ut feugiat, odio ut gravida egestas, ipsum lacus vehicula risus, non iaculis turpis elit id nunc. </p>
		</section>

		<section id="contact">
			<h2>Contact Us</h2>
			<p>Pellentesque lacinia, odio ac hendrerit tincidunt, enim arcu aliquet ipsum, nec efficitur mauris enim a nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse tincidunt magna sapien, sed pellentesque massa venenatis eget. </p>
		</section>
	</main>

	<!-- footer section -->
	<footer>
		<p>&copy; 2023 pugking4.me. All rights reserved.</p>
		<p><a href="privacy-policy">Privacy Policy</a></p>
	</footer>
