<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MaiUtils</title>
	<link rel="stylesheet" href="static/styles.css">
	<link rel="stylesheet" href="static/index.css">
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HPHDZG3MYW"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-HPHDZG3MYW');
	</script>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>

	<!-- header section -->
	<header>
		<h1>pugking4.me (MaiUtils)</h1>
	</header>

	<!-- navigation section -->
	<nav>
		<ul>
			<li><a href="index">Index</a></li>
			<li><a href="rating-calculator">Rating Calculator</a></li>
			<li><a href="db-export">Song Database Export</a></li>
			<li><a href="mai-camera">MaiMai Camera Gallery</a></li>
			<li><a href="wip">Placeholder 4</a></li>
		</ul>
	</nav>

	<!-- main content section -->
	<main>
		<section id="data_status">
			<h2>No data found</h2>
			<p>There's no data loaded currently or I have not set any scores today, please run /manual-scrape or wait for the auto-update.</p>
		</section>
        <!-- form section -->
        <section id="date_selection">
        	<h2>Select a date</h2>
        	<form method="post" id="date-form">
        		<label for="date">Date:</label>
        		<input type="date" id="date-input" name="date" min="2023-04-24" value="2023-04-24"><br><br>
        		</select><br><br>
        		<input type="submit" value="Submit">
        	</form>
        </section>

	</main>

    <!-- JavaScript section-->
    <script src="static/scripts/records_search.js"></script>

	<!-- footer section -->
	<footer>
		<p>&copy; 2023 pugking4.me. All rights reserved.</p>
		<p><a href="privacy-policy">Privacy Policy</a></p>
	</footer>
