<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaiUtils</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/view-records.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HPHDZG3MYW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-HPHDZG3MYW');
    </script>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>
<body>

    <!-- header section -->
    <header>
        <h1>pugking4.me (MaiUtils)</h1>
    </header>

    <!-- navigation section -->
    <nav>
        <ul>
			<li><a href="index">Index</a></li>
			<li><a href="rating-calculator">Rating Calculator</a></li>
			<li><a href="db-export">Song Database Export</a></li>
			<li><a href="mai-camera">MaiMai Camera Gallery</a></li>
			<li><a href="view-records">Daily Records</a></li>
        </ul>
    </nav>

    <!-- main content section -->
    <main>
        <div class="loader custom-loader"></div>
        </form>
        <table id="table">
            <tr>
                <th></th>
                <th data-sort-type="title">Title</th>
                <th data-sort-type="type">Type</th>
                <th data-sort-type="difficulty">Difficulty</th>
                <th data-sort-type="score">Score</th>
                <th style="width: 3%">Combo</th>
                <th style="width: 3%">Sync</th>
                <th data-sort-type="place" style="width: 3%">Place</th>
                <th data-sort-type="p2" style="width: 11%">P2</th>
                <th data-sort-type="time">Time</th>
                <th data-sort-type="track">Track</th>
            </tr>
            {% for item in data %}
            <tr>
                <td><img src="{{ item['img_link'] }}"></td>                
                <td style="width: 30%">{% if item['title'] %}{{ item['title'] }}{% endif %}</td>
                <td>{% if item['type'] %}{{ item['type'].upper() }}{% endif %}</td>
                <td>{% if item['difficulty'] %}{{ item['difficulty'] }}{% endif %}</td>
                <td>{% if item['score'] %}{{ item['score'] }}{% endif %}</td>
                <td style="width: 3%">{% if item['combo'] %}{{ item['combo'] }}{% endif %}</td>
                <td style="width: 3%">{% if item['sync'] %}{{ item['sync'] }}{% endif %}</td>
                <td style="width: 3%">{% if item['place'] %}{{ item['place'] }}{% endif %}</td>
                <td style="width: 16%">{% if item['player2'] %}{{ item['player2'] }}{% endif %}</td>
                <td>{% if item['time'] %}{{ item['time'] }}{% endif %}</td>
                <td>{% if item['track'] %}{{ item['track'] }}{% endif %}</td>                
            </tr>
            {% endfor %}
        </table>
        <h1>Search by day</h1>
        <form method="POST" id="date-form">
            <label for="date">Select date from:</label>
            <input type="date" id="date-input" name="date" value="{{ date }}">
            <input type="submit" value="Submit">
    </main>

    <!-- footer section -->
    <footer>
        <p>&copy; 2023 pugking4.me. All rights reserved.</p>
        <p><a href="privacy-policy">Privacy Policy</a></p>
    </footer>
    <!-- JavaScript section-->
    <script src="static/scripts/records_search.js"></script>
</body>
</html>