table th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1b1b1b;
  color: #fff;
}

tr:hover {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
  th, td {
    padding: 8px;
  }
}

/* style for h1 header */
main h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 2em;
}

/* style for form */
form {
  margin: 0 auto;
  max-width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

main p {
  text-align: center;
  font-size: 22px;
}

td img {
  width: 120px;
  height: 120px;
}

th:nth-child(6),
td:nth-child(6) {
  width: 120px; /* increase width as needed */
}

#image-container {
  position: relative;
  display: inline-block;
}

#image-container img {
  max-width: 100%;
}

#hover-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#hover-image-container img {
  max-width: 100%;
}
